html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@font-face {
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-family: RobotoCondensed-Bold;
}
@font-face {
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
}
@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: Poppins-Bold;
}
@font-face {
    src: url(../fonts/FiraSans-Bold.ttf);
    font-family: FiraSans-Bold;
}
@font-face {
    src: url(../fonts/FiraSans-Regular.ttf);
    font-family: FiraSans-Regular;
}
@font-face {
    src: url(../fonts/FontsFree-Net-SFCompactDisplay-Regular.ttf);
    font-family: SFCompactDisplay-Regular;
}
@font-face {
    src: url(../fonts/Lato-Bold.ttf);
    font-family: Lato-Bold;
}
@font-face {
    src: url(../fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}
@font-face {
    src: url(../fonts/Lato-Black.ttf);
    font-family: Lato-Black;
}
@font-face {
    src: url(../fonts/FontsFree-Net-SFCompactDisplay-Bold.ttf);
    font-family: SF-Bold;
}

#navbar{
    width: 105%;
    height: 660px;
    margin-left: -1%;
}
#collapsenav1{
    background-color: rgba(0, 0, 0, 0.105);
}
#nav_IMG{
    height: 675px;
    transform: rotate(-4deg);
    margin-top: -5%;
    margin-left: -2%;
    background-size: cover;
    overflow: hidden;
}
#ul-1{
    margin-right: 10%;
}
#ul-2{
    margin-right: 8%;
}
.navbar-brand{
    margin-left: 6%;
}
.navbar-brand span{
    font-family: RobotoCondensed-Bold;
    color: #505050;
    height: max-content;
}
.nav-ul-Div{display: flex; flex-direction: column;}
.nav-link{
    font-family: Poppins-Regular;
    color: #505050;
    font-size: 14px;
}
#fbtn{font-family: FiraSans-Bold; color: #505050;}
.span1{
    color: #265781;
}
.colorbtn{
    width: 15px;
    height: 15px;
}
#colorbtn1{
    background-color: #265781;
}
#colorbtn2{
    background-color: #52B27B;
}
#colorbtn3{
    background-color: #F2E162;
}
.popupS{
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#popupC{
    width: 30%;
}
#search-icon1{
    margin-left: -5px;
    
}
#i-icon{
    color: #265781c2;
}
.close {
    margin-top: -15px;
    color: #aaaaaa;
}
  
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.toggle-Ul{
    font-weight: 300;
    color: #265781;
    font-size: 23px;
}
.span2{
    font-weight: 400;
    color: #505050;
    font-size: 14px;
}
#box{
    width: 54px;
    height: 54px;
    background-color: #F2E162;
    border-radius: 15px;
    left:50%;
    margin-top: -6%;
}
#Inbox{
    width: 18px;
    height: 25px;
}
#About_Us{margin-top: 98px;}
#About_Us h1, .newsText h1, #services h1, .Tender_Heading h1{
    font-size: 151px;
    font-family: Poppins-Bold;
    color: rgb(112 105 96 / 10%);
    position: relative;
    line-height: 1;
}
#About_Us span, .newsText span, #services .S-span, .Tender_Heading span{
    font-family: Poppins-Bold;
    color: #706960;
    font-size: 36px;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
}
#About_Us p, #About_Us button, #services button, .VMbtn button{
    font-family: SFCompactDisplay-Regular;
    color: #272727;
}
#About_Us button, #services button, .VMbtn button{
    background-color: #F2E162;
    border-radius: 10px;
}
.newsText div{
    transform: rotate(-90deg);
    position: absolute;
    left: -115px;
    top: 140px;
}
#services{
    margin-top: 80px;
}
.s-options h4{
    font-family: Lato-Black;
    color: #505050;
    font-size: 16px;
}
.Tender_Heading{margin-top: 60px;}

footer{
    margin-top: 75px;
    color: #505050;
    background-color: #F2E162;
}
#Sub-Div a, .follow a{
    color: #505050;
}
#Sub-Div h2{
    font-family: Lato-Bold;
}
#SubGr{
    width: 92%;
    height: 46px;
    position: relative;
    background-color: rgba(0, 0, 0, 10%);
    border-radius: 25px;
}
#SubGr input{
    font-family: Lato-Regular;
    z-index: 1;
    background: transparent;
    border: none;
    padding-right: 190px;
}
#SubGr input:focus{outline: none;}
#SubGr button{
    border-radius: 25px;
    font-family: SF-Bold;
    position: absolute;
    right: 0;
    z-index: 2;
    font-size: 16px;
    margin: 3px 0px;
    color: #393939;
    padding: 0px 30px;
}
.listborder{
    border-right: 1px solid rgba(112,112,112,30%);
}
#CR span, #PB span{font-family: Lato-Bold;font-size: 14px;}
#PB{text-align: end;}
#CR p, #PB p, #Contact-Div p{font-family: Lato-Regular;font-size: 14px;}
#Contact-Div{background-color: #1d1d1d1c;}
#Contact-Div h5{font-family: Lato-Bold;}
#FU{font-family: "Aileron", sans-serif;}

#toggle-Ul{display: none;}
#About_Us button:focus, #services button:focus, .VMbtn button:focus{
    box-shadow: 0 0 0 0.25rem #f2e162b3;
}

.NewsCon{
    margin-top: 105px;
}

.owl-carousel{
    width: 100%;
    
}
.slide{
    height: 420px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 50px;
}
.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
.sliderCon1{
    background-image: url('../images/Jayakwadi_Dam.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 382px;
    position: relative;
}
.sliderCon2{
    background-image: url('../images/Krishna_Dam1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 382px;
}
.sliderCon3{
    background-image: url('../images/Krishna_Dam2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 382px;
}
.big {
    transform: scale(1.2,1.2);
    margin-right: 36px;
    margin-left: 40px;
}
.dateDiv{
    width: fit-content;
    height: fit-content;
    background-color: #ffff;
    border-radius: 10px;
    right: 32px;
    position: absolute;
    top: 28px;
}
.dateDiv h5{
    font-family: SFCompactDisplay-Regular;
    color: #505050;
    font-size: 31px;
    margin: 4px 4px 4px 8px;
}
.dateDiv h4{
    font-family: SF-Bold;
    color: #505050;
    font-size: 12px;
    margin: 4px 8px 4px 4px;
}
.descS1{
    background-color: rgba(41, 24, 24, 56%);
    bottom: 0;
}
.desc{
    background-color: rgba(10, 10, 10, 10%);
    bottom: 0;
}
.desc h5, .descS1 h5{
    font-family: Poppins-Bold;
    font-size: 18px;
}
.descS1 p{
    font-family: Poppins-Regular;
    font-size: 14px;
}
.PreNextbtn{
    width: fit-content; 
    border-radius: 12px;
    background-color: #F2E162;
    display: none;
}
.PreNextbtn button{
    background:transparent;
    font-size: larger;
}
.slide.big .PreNextbtn{
    display: block;
}

.Tender_Img{
    margin-top: 75px;
}
.Tender_Heading .col-T1{
    padding: 0px 12px 0px 0px;
}
.Tender_Heading .col-T2{
    padding: 0px 0px 0px 12px;
}
.tender1{
    margin: 27px 23px 0px 27px;
}
.tender1 h4{
    font-family: Poppins-Bold;
    font-size: 18px;
    color: #505050;
}
.tender1 p{
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #505050;
}
.borderContact{
    border-bottom: 1px rgba(112, 112, 112, 20%) solid;
}
.follow-span{
    opacity: 30%;
}
.VMbtn{
    margin-top: 66px;
}

@media only screen and (max-width: 1200px){
    #nav_IMG{
        margin-top: -6%;
    }
    #logo{display: none;}
    .tender4{
        height: 100%;
    }
    .navbar-brand{
        margin-left: 2%;
    }
    .navbar-brand span{
        font-size: 15px;
    }
    #ul-1{
        margin-right: 4%;
    }
    #ul-2{
        margin-right: 2%;
    }
    .nav-link{
        font-size: 13px;
    }
    #box{
        margin-top: -7%;
    }
}

@media only screen and (max-width: 1024px){
    .navbar-brand span {
        font-size: 14px;
    }
    #About_Us h1{
        font-size: 100px;
    }
    #About_Us span{
        font-size: 30px;
    }
    .desc h5, .descS1 h5{
        font-size: 15px;
    }
    .descS1 p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 992px){
    #navbar{
        height: 520px;
    }
    #nav_IMG {
        height: 530px;
    }
    .navbar-brand{
        margin-left: 6%;
    }
    #box{
        margin-top: -8%;
    }
    #ul-1{
        display: none;
    }
    .nav-ul-Div{display: none;}
    #toggle-Ul{display: block;}
    #collapsenav1 {
        margin-left: 10px;
    }
    #About_Us span{
        bottom: 12%;
    }
    .Tender_Heading .col-T1 {
        padding: 0px 0px 0px 0px;
    }
    .Tender_Heading .col-T2 {
        padding: 0px 0px 0px 0px;
        margin-top: 35px;
    }
    .newsText div {
        transform: rotate(360deg);
        position: initial;
    }
    .newsText div h1{
        text-align: center;
    }
    .dateDiv h5{
        font-size: 28px;
    }
    .dateDiv h4{
        font-size: 9px;
    }
}

@media only screen and (max-width: 768px){
    #navbar{
        height: 395px;
    }
    .navbar{
        top: 5px;
    }
    #nav_IMG {
        height: 400px;
        margin-top: -7%;
    }
    #collapsenav1 {
        margin-left: 5px;
    }
    #box{
        width: 44px;
        height: 44px;
        margin-top: -10%;
    }
    #Inbox{
        width: 14px;
        height: 20px;
    }
    #About_Us h1{
        font-size: 80px;
    }
    #About_Us span{
        font-size: 20px;
    }
    #services h1, .Tender_Heading h1, .newsText div h1{
        font-size: 100px;
    }
    #services .S-span, .Tender_Heading span, .newsText div h1 span{
        font-size: 30px;
    }
    .col-T1, .col-T2{
        height: 200px;
    }
    .col-T1>div:first-child, .col-T2>div:first-child{
        height: 100%;
    }
    .tender1 h4{
        font-size: 16px;
    }
    .tender1 p{
        font-size: 14px;
    }
    .slide{
        height: 300px;
    }
    .sliderCon1, .sliderCon2, .sliderCon3{
        height: 260px;
    }
    .dateDiv h5{
        font-size: 22px;
    }
    .dateDiv h4{
        font-size: 8px;
    }
    .desc h5, .descS1 h5{
        font-size: 13px;
    }
    .descS1 p{
        font-size: 10px;
    }
    .PreNextbtn button{
        font-size: small;
    }
    .listborder{
        border-right: none;
    }
}

@media only screen and (max-width: 575px){
    #navbar{
        width: 107%;
        margin-left: -2%;
    }
    .navbar-brand span{
        font-size: 13px;
    }
    .navbar-brand img{
        width: 45px;
        height: 45px;
    }
    #nav_IMG {
        margin-top: -8%;
    }
    #collapsenav1 {
        margin-left: 13px;
    }
    .nav-link{
        font-size: 11px;
    }
    .spanlogo{
        margin-top: 3px;
    }
    #box{
        margin-top: -11%;
    }
    #About_Us h1{
        font-size: 62px;
    }
    #About_Us span{
        font-size: 18px;
    }
    #About_Us p{
        font-size: 14px;
    }
    #services h1, .Tender_Heading h1, .newsText div h1{
        font-size: 80px;
    }
    #services .S-span, .Tender_Heading span, .newsText div h1 span{
        font-size: 20px;
    }
    #SubGr{
        height: 44px;
    }
    #SubGr input{
        padding-right: 150px;
    }
    #SubGr button{
        font-size: 13px;
        padding: 0px 20px;
        margin-top: 5px;
    }
    .tender1 h4{
        font-size: 14px;
    }
    .tender1 p{
        font-size: 12px;
    }
    .slide{
        height: 220px;
    }
    .sliderCon1, .sliderCon2, .sliderCon3{
        height: 200px;
    }
    .desc h5, .descS1 h5{
        font-size: 12px;
    }
    .descS1 p{
        font-size: 8px;
    }
    .PreNextbtn button{
        font-size: smaller;
    }
    .dateDiv h5{
        margin: 2px 2px 2px 4px;
    }
    .dateDiv h4{
        margin: 2px 2px 2px 0px;
    }
}

@media only screen and (max-width: 425px){
    #navbar{
        width: 110%;
        margin-left: -3%;
    }
    #nav_IMG, #navbar{
        height: 375px;
    }
    #nav_IMG{
        margin-top: -10%;
    }
    #box{
        width: 40px;
        height: 40px;
        bottom: 11px;
    }
    #About_Us h1{
        font-size: 55px;
    }
    #About_Us span{
        font-size: 14px;
    }
    #SubGr button{font-size: 12px;}
    #services h1, .Tender_Heading h1, .newsText div h1{
        font-size: 70px;
    }
    #services .S-span, .Tender_Heading span, .newsText div h1 span{
        font-size: 18px;
    }
    .s-options img{
        width: 60px;
        height: 60px;
    }
    .s-options h4{
        font-size: 14px;
    }
    .col-T1, .col-T2{
        height: 180px;
    }
    .tender1 h4{
        font-size: 12px;
    }
    .tender1 p{
        font-size: 10px;
    }
}

@media only screen and (max-width: 375px){
    .navbar-brand span{
        font-size: 11px;
    }
    .navbar-brand img{
        width: 40px;
        height: 40px;
    }
    .nav-link{
        font-size: 10px;
    }
    .navbar-toggler{
        padding: 0.15rem 0.35rem;
    }
    .navbar-toggler-icon{
        font-size: 16px;
    }
    #About_Us h1{
        font-size: 45px;
    }
    #About_Us span{
        font-size: 14px;
    }
    #SubGr button{
        font-size: 12px;
        padding: 10px 15px !important;
        margin: 3px 0px;
    }
    #SubGr input{
        padding-right: 135px;
    }
    #services h1, .Tender_Heading h1, .newsText div h1{
        font-size: 60px;
    }
    #services .S-span, .Tender_Heading span, .newsText div h1 span{
        font-size: 15px;
    }
    .s-options img{
        width: 50px;
        height: 50px;
    }
    .s-options h4, #About_Us button, #services button, .VMbtn button{
        font-size: 10px;
    }
    .col-T1, .col-T2{
        height: 130px;
    }
    .tender1 h4{
        font-size: 10px;
    }
    .tender1 p{
        font-size: 8px;
    }
    .col-T1 img, .col-T2 img{
        width: 135px;
    }
}

@media only screen and (max-width: 320px){
    .navbar-brand {
        margin-left: 10px;
    }
    #SubGr button{
        font-size: 11px;
        margin-top: 4px;
        padding: 10px 10px !important;
    }
    #SubGr input{
        padding-right: 118px;
    }
    #About_Us h1{
        font-size: 40px;
    }
    #About_Us span{
        font-size: 12px;
    }
    #services h1, .Tender_Heading h1, .newsText div h1{
        font-size: 50px;
    }
    #services .S-span, .Tender_Heading span, .newsText div h1 span{
        font-size: 12px;
    }
    .s-options img{
        width: 45px;
        height: 45px;
    }
    .s-options h4{
        font-size: 10px;
    }
    .col-T1, .col-T2{
        height: 100px;
    }
    .tender1 h4{
        font-size: 8px;
    }
    .tender1 p{
        font-size: 6px;
    }
    .col-T1 img, .col-T2 img{
        width: 125px;
    }
    .slide{
        height: 160px;
    }
    .sliderCon1, .sliderCon2, .sliderCon3{
        height: 160px;
    }
    .desc h5, .descS1 h5{
        font-size: 7px;
    }
    .descS1 p{
        font-size: 5px;
    }
    .slide.big .PreNextbtn{
        display: none;
    }
    .dateDiv{
        border-radius: 5px;
    }
    .dateDiv h5{
        margin: 2px 2px;
        font-size: 12px;
    }
    .dateDiv h4{
        margin: 3px 2px 2px 0px;
        font-size: 5px;
    }
}